---
http_interactions:
- request:
    method: get
    uri: http://geocode.arcgis.com/arcgis/rest/services/World/GeocodeServer/find?f=pjson&outFields=*&text=1520%202nd%20Street,%20Santa%20Monica,%20CA%2090401
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=utf-8
      Etag:
      - 9d8aa54a
    body:
      encoding: UTF-8
      string: |-
        {
         "spatialReference": {
          "wkid": 4326,
          "latestWkid": 4326
         },
         "locations": [
          {
           "name": "1520 2nd St, Santa Monica, California, 90401",
           "extent": {
            "xmin": -118.495571,
            "ymin": 34.012909999999998,
            "xmax": -118.494761,
            "ymax": 34.013669999999998
           },
           "feature": {
            "geometry": {
             "x": -118.49495280732549,
             "y": 34.013062436483324
            },
            "attributes": {
             "Loc_name": "USA.StreetAddress",
             "Score": 100,
             "Match_addr": "1520 2nd St, Santa Monica, California, 90401",
             "Addr_type": "StreetAddress",
             "Type": "",
             "PlaceName": "",
             "Place_addr": "",
             "Phone": "",
             "URL": "",
             "Rank": "",
             "AddBldg": "",
             "AddNum": "",
             "AddNumFrom": "1520",
             "AddNumTo": "1500",
             "Side": "L",
             "StPreDir": "",
             "StPreType": "",
             "StName": "2nd",
             "StType": "St",
             "StDir": "",
             "StAddr": "",
             "Nbrhd": "",
             "City": "Santa Monica",
             "Subregion": "",
             "Region": "California",
             "Postal": "90401",
             "PostalExt": "",
             "Country": "USA",
             "LangCode": "ENG",
             "Distance": 0,
             "X": -118.49495400000001,
             "Y": 34.013061999999998,
             "DisplayX": -118.49495400000001,
             "DisplayY": 34.013061999999998,
             "Xmin": -118.495571,
             "Xmax": -118.494761,
             "Ymin": 34.012909999999998,
             "Ymax": 34.013669999999998
            }
           }
          }
         ]
        }
  recorded_at: Sun, 01 Jun 2014 07:19:23 GMT
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=1520%202nd%20Street,%20Santa%20Monica,%20CA%2090401&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "1520",
                       "short_name" : "1520",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "2nd Street",
                       "short_name" : "2nd St",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Santa Monica",
                       "short_name" : "Santa Monica",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Los Angeles County",
                       "short_name" : "Los Angeles County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "California",
                       "short_name" : "CA",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    },
                    {
                       "long_name" : "90401",
                       "short_name" : "90401",
                       "types" : [ "postal_code" ]
                    }
                 ],
                 "formatted_address" : "1520 2nd Street, Santa Monica, CA 90401, USA",
                 "geometry" : {
                    "location" : {
                       "lat" : 34.0128358,
                       "lng" : -118.495338
                    },
                    "location_type" : "ROOFTOP",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 34.0141847802915,
                          "lng" : -118.4939890197085
                       },
                       "southwest" : {
                          "lat" : 34.0114868197085,
                          "lng" : -118.4966869802915
                       }
                    }
                 },
                 "types" : [ "street_address" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Sun, 01 Jun 2014 07:22:52 GMT
recorded_with: VCR 2.9.2
